

*.class
*.log
*.prefs

# Package Files #
*.jar
*.war
*.zip


.classpath
.project

# gwt caches and compiled units #
war/gwt_bree/
gwt-unitCache/

# boilerplate generated classes #
.apt_generated/

# more caches and things from deploy #
war/WEB-INF/deploy/
war/WEB-INF/classes/

#compilation logs
.gwt/

#caching for already compiled files
gwt-unitCache/

#gwt junit compilation files
www-test/

#old GWT (1.5) created this dir
.gwt-tmp/


lib*/

.metadata
.metadata/

x db4o tutorial/

Tomcat/

TestCodes/

RemoteSystemsTempFiles/

Dokumentation/

Applikation KauSoft/

Java09_Kostenmiete/

Java10_SCUI/



